# SPDX-FileCopyrightText: 2022-2025 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

[Unit]
Description=Carbonio Docs server sidecar proxy
Documentation=https://docs.zextras.com/zextras-suite-documentation/latest/
Requires=network-online.target
After=network-online.target
PartOf=carbonio.target

[Service]
User=carbonio-docs-editor
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/carbonio/docs-editor/service-discover/token \
    -admin-bind localhost:0 \
    -sidecar-for carbonio-docs-editor
Restart=on-failure
RestartSec=15
KillSignal=SIGINT
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
